article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
 
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family:Trebuchet MS;
  font-size: 11px;
  line-height: 15px;
  color: #555555;
  padding:0px;
  margin:0px;
}
a {
  color: #088ec8;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #055a7e;
  text-decoration: underline;
}
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
.offset12 {
  margin-left: 980px;
}
.offset11 {
  margin-left: 900px;
}
.offset10 {
  margin-left: 820px;
}
.offset9 {
  margin-left: 740px;
}
.offset8 {
  margin-left: 660px;
}
.offset7 {
  margin-left: 580px;
}
.offset6 {
  margin-left: 500px;
}
.offset5 {
  margin-left: 420px;
}
.offset4 {
  margin-left: 340px;
}
.offset3 {
  margin-left: 260px;
}
.offset2 {
  margin-left: 180px;
}
.offset1 {
  margin-left: 100px;
}

label,
input,
button,
select,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
}
input,
/*button,*/
select,
textarea {
  font-family: Trebuchet MS;
}
label {
  /*display: block;*/
  margin-bottom: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 25px;
  padding: 3px 6px;
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 15px;
  color: #555555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}
input,
textarea,
.uneditable-input {
  width: 206px;
}
textarea {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(2,20,48,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(2,20,48,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(2,20,48,.6);
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}
select,
input[type="file"] {
  height: 26px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 28px;
}
select {
  width: 220px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.uneditable-input,
.uneditable-textarea {
  color: #999999;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}
.radio,
.checkbox {
  min-height: 18px;
  padding-left: 20px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}

input,
textarea,
.uneditable-input {
  margin-left: 0;
}
.controls-row [class*="span"] + [class*="span"] {
  margin-left: 20px;
}
input.span12,
textarea.span12,
.uneditable-input.span12 {
  width: 926px;
}
input.span11,
textarea.span11,
.uneditable-input.span11 {
  width: 846px;
}
input.span10,
textarea.span10,
.uneditable-input.span10 {
  width: 766px;
}
input.span9,
textarea.span9,
.uneditable-input.span9 {
  width: 686px;
}
input.span8,
textarea.span8,
.uneditable-input.span8 {
  width: 606px;
}
input.span7,
textarea.span7,
.uneditable-input.span7 {
  width: 526px;
}
input.span6,
textarea.span6,
.uneditable-input.span6 {
  width: 446px;
}
input.span5,
textarea.span5,
.uneditable-input.span5 {
  width: 366px;
}
input.span4,
textarea.span4,
.uneditable-input.span4 {
  width: 286px;
}
input.span3,
textarea.span3,
.uneditable-input.span3 {
  width: 206px;
}
input.span2,
textarea.span2,
.uneditable-input.span2 {
  width: 126px;
}
input.span1,
textarea.span1,
.uneditable-input.span1 {
  width: 46px;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly]
{
    cursor: not-allowed;
    background-color: #CCCCCC;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

.input-append,
.input-prepend {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  font-size: 0;
  white-space: nowrap;
}
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-append .dropdown-menu,
.input-prepend .dropdown-menu,
.input-append .popover,
.input-prepend .popover {
  font-size: 13px;
}
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
  z-index: 2;
}
.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 25px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: White;
  border: 1px solid #ccc;
}
.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-append .btn-group > .dropdown-toggle,
.input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-append .active,
.input-prepend .active {
  background-color: #c1ee69;
  border-color: #77ab13;
}
.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.input-append input + .btn-group .btn:last-child,
.input-append select + .btn-group .btn:last-child,
.input-append .uneditable-input + .btn-group .btn:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.input-append .add-on,
.input-append .btn,
.input-append .btn-group {
  margin-left: -1px;
}
.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend.input-append input + .btn-group .btn,
.input-prepend.input-append select + .btn-group .btn,
.input-prepend.input-append .uneditable-input + .btn-group .btn {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.input-prepend.input-append .btn-group:first-child {
  margin-left: 0;
}
/*Zoluxiones*/
header {
    border-bottom: 3px solid #e6e6e6;
    margin-bottom: 5px;
    *zoom: 1: ;
}
.btn-integra {
  color: #0039A6;
  background-color: #E3D829;
  border-color: #E3D829;
  font-weight:normal;
}
.btn-integra:hover,
.btn-integra:focus,
.btn-integra:active,
.btn-integra.active,
.open .dropdown-toggle.btn-integra {
  color: #021494;
  background-color: #e3d829;
  border-color: #eade37;
}
.btn-integra:active,
.btn-integra.active,
.open .dropdown-toggle.btn-integra {
  background-image: none;
}
.btn-integra.disabled,
.btn-integra[disabled],
fieldset[disabled] .btn-integra,
.btn-integra.disabled:hover,
.btn-integra[disabled]:hover,
fieldset[disabled] .btn-integra:hover,
.btn-integra.disabled:focus,
.btn-integra[disabled]:focus,
fieldset[disabled] .btn-integra:focus,
.btn-integra.disabled:active,
.btn-integra[disabled]:active,
fieldset[disabled] .btn-integra:active,
.btn-integra.disabled.active,
.btn-integra[disabled].active,
fieldset[disabled] .btn-integra.active {
  background-color: #F4E843;
  border-color: #e3d829;
}
.btn-integra .badge {
  color: #F4E843;
  background-color: #fff;
}

select
{
    background-color:White;
    color:#555555;
    /*background-image: linear-gradient(to bottom, White 0%, White 100%);*/
}

/*Paginación*/
.paginacion 
{   
  margin: 0px;
  font-weight:bold;
}
.paginacion tr {
  display: inline-block;
  display: inline;
  /* IE7 inline-block hack */
  zoom: 1;
  margin-left: 0;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.paginacion tr > td {
  display: inline;
}
.paginacion tr > td > span
{
    border-left: 1px solid #00AECB;
    border-right: 1px solid #00AECB;
    border-top: 1px solid #00AECB;
    border-bottom: 1px solid #00AECB;
    padding: 4px 12px;
    line-height: 18px;
    text-decoration: none;
    color: #00AECB;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    background-color: gray;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 2px @grayLight, 0 1px 2px rgba(255, 255, 255, 0.3) inset;
    -moz-box-shadow: 0 1px 2px @grayLight, 0 1px 2px rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 1px 2px @grayLight, 0 1px 2px rgba(255, 255, 255, 0.3) inset;
    background-image: linear-gradient(to bottom, #eff4fa, #eff4fa);
}

.paginacion tr > td > a{
  padding: 4px 12px;
  line-height: 28px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid gray;
  border-left-width: 0;
}
.paginacion tr > td > a:hover,
.paginacion tr > td > a:focus,
.paginacion tr > .active > a,
.paginacion tr > .active > span {
  background-color: #f5f5f5;
}
.paginacion tr > .active > a,
.paginacion tr > .active > span {
  color: #999999;
  cursor: default;
}
.paginacion tr > .disabled > span,
.paginacion tr > .disabled > a,
.paginacion tr > .disabled > a:hover,
.paginacion tr > .disabled > a:focus {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.paginacion tr > td:first-child > a,
.paginacion tr > td:first-child > span {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.paginacion tr > td:last-child > a,
.paginacion tr > td:last-child > span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.paginacion-centered {
  text-align: center;
}
.paginacion-right {
  text-align: right;
}
.paginacion-large tr > td > a,
.paginacion-large tr > td > span {
  padding: 11px 19px;
  font-size: 16.25px;
}
.paginacion-large tr > td:first-child > a,
.paginacion-large tr > td:first-child > span {
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}
.paginacion-large tr > td:last-child > a,
.paginacion-large tr > td:last-child > span {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}
.paginacion-mini tr > td:first-child > a,
.paginacion-small tr > td:first-child > a,
.paginacion-mini tr > td:first-child > span,
.paginacion-small tr > td:first-child > span {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
.paginacion-mini tr > td:last-child > a,
.paginacion-small tr > td:last-child > a,
.paginacion-mini tr > td:last-child > span,
.paginacion-small tr > td:last-child > span {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
}
.paginacion-small tr > td > a,
.paginacion-small tr > td > span {
  padding: 2px 10px;
  font-size: 11.049999999999999px;
}
.paginacion-mini tr > td > a,
.paginacion-mini tr > td > span {
  padding: 0px 6px;
  font-size: 9.75px;
}
/*Paginación*/

/*Grilas*/
.grilla
{
    border: #ffffff 0px;
    overflow: auto;    
    width: 100%;
    line-height: 12px;
    border-collapse: collapse;
    padding: 5px;
}
.grilla-footer
{
    border: #ffffff 0px;
    overflow: auto;    
    width: 100%;
    height:380px;
    line-height: 12px;
    border-collapse: collapse;
    padding: 5px;
    }
.grilla-small
{
    border: #ffffff 0px;
    overflow: auto;    
    width: 100%;
    line-height: 12px;
    border-collapse: collapse;
    height: 150px
}

.nowrap
{
    white-space: nowrap;  
    padding-left:4px;
    padding-right:4px;     
}

/*Grilas*/

.validator
{
    color: Red;
    font-weight: bold;
    font-family: Trebuchet MS;
    padding-left: 3px;
}

input[type="checkbox"],
input[type="radio"]
{
    width: 20px;
    margin-left:5px;
    margin-top:-3px;
}
    
.ColumnsGrilla > tbody > tr > td
{
    padding: 0px 5px;
    /*max-width: 120px;*/
}

.modal
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #EFEFEF;
    z-index: 99;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    min-height: 100%;
    width: 100%;
}
.loading
{
    font-family: Verdana;
    font-size: 9pt;
    width: 100%;
    height: 85px;
    display: none;
    position: relative;
    background-color: #EFEFEF;
    z-index: 999;
    text-align: center;
}
.mayusculas
{
    text-transform: uppercase;
}
.requeridor
{
 color:red;
 font-size:large;
}
.requeridob
{
 color:blue;
 font-size:large;
}

.campo-omitido > label
{
    color: #e0dcdc;
    padding-top: 4px!Important;
    }
    
.campo-omitido > div > input
{    
    background: white;
    color: #e0dcdc;
    border: dashed 1px #e0dcdc;
    }
.modal
{
    position:fixed;
    top:0;
    left:0;
    background-color:White;
    z-index:99;
    opacity:0.7;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    min-height:100%;
    width:100%;
}
.loading
{
    font-family:Arial;
    color:#0039A6;
    font-size:11.5pt;
    border:0px;
    width:10%;
    height:8%;
    display:none;
    position:fixed;
    background-color:Transparent;
    z-index:999;
}
/*INICIO | ZOLUXIONES | RCE | ProyFondosII - RF010 - Estilo para mostrar div de procesamiento de datos en Confirmación masiva | 04/07/18 */
 #blurEspera
{
	width: 100%;
	background-color: White;
	moz-opacity: 0.5;
	khtml-opacity: .5;
	opacity: .7;
	filter: alpha(opacity=70);
	z-index: 120;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#progressEspera
{
	z-index: 200;
	background-color: white;
	position: fixed;
	top: 0pt;
	left: 0pt;
	border: solid 1px white;
	padding: 5px 5px 5px 5px;
	text-align: center;
}
/*FIN | ZOLUXIONES | RCE | ProyFondosII - RF010 - Estilo para mostrar div de procesamiento de datos en Confirmación masiva | 04/07/18 */


   .winBloqueador {
            border: solid 1px gray;
            background-color: #80808052;
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 150%;
            text-align: center;     
    }        
        .winBloqueador-inner {
         /*   border: solid 1px gray;*/
            background-color:transparent;
            display: inline-block;
            
            margin-top: 260px;
         /*    padding: 10px 20px;  */
         /*  border-radius: 5px;        */
        }